node_modules/
todo.txt
# hardhat data
blockchain/.env
blockchain/cache/
blockchain/artifacts/
blockchain/coverage.json
blockchain/coverage/
blockchain/contracts/flattened/
blockchain/gas-report.txt
# nextjs data
.next