.container {
  width: 1136px;
  height: 450px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  margin: 100px 0;
}

.headerSecondary {
  font-weight: 700;
  font-size: 64px;
  line-height: 56px;
}

.stakedListContainer {
    width: 1136px;
    display: flex;
    overflow: auto;
}

@media all and (max-width: 450px) {
  .container {
    height: auto;
    width: 90%;
    margin: 20px 0;
  }

  .headerSecondary {
    font-size: 30px;
    text-align: center;
  }

  .stakedListContainer {
    flex-direction: column;
    width: 100%;
  }
}