.container {
    background-image: url('../../public/images/Layout\ Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main {
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectMain {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}