.container {
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgLogoContainer {
    margin-left: 55px;
}

.linksContainer {
    margin-right: 55px;
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnConnect {
    height: 50px;
    width: 200px;
}

