.container {
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.cardImage {
  width: 240px;
  height: 270px;
}

@media all and (max-width: 450px) {
  .container {
    width: 90%;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }
}
