.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.textContainer {
  width: 310px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.headerMain {
  color: transparent;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  -webkit-text-stroke: 1px #fff;
  font-style: normal;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
