.sectionMint {
  color: #fff;
  width: 1136px;
  height: 733px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.mintContainer {
  width: 448px;
  height: 148px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mintContainerParagraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 95%;
  text-align: start;
}

.mintInfoContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mintPrice {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.mintedAmount {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.mintBtnsContainer {
  width: 95%;
  height: 48px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btnAmount {
  height: 100%;
  width: 65px;
}

.btnMint {
  height: 100%;
  width: 335px;
}

.imgHoodieContainer {
  width: 636px;
  height: 636px;
  box-shadow: 0px 0px 10px 10px #0f0f0f;
}

.sectionMinted {
  color: #fff;
}
